body {
    background-color: #f600b8 ;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #000000;
    background: url(bg2.jpg)
}

.main-heading{
    font-size: 80px;
    padding-top: -40px ;
}

.tarikh{
    padding-top: 40px;
}